name: Update Flight Board

on:
  schedule:
    - cron: '0 0 * * *' # Update otomatis setiap jam 00:00 UTC (Pagi hari)
  workflow_dispatch:      # Memungkinkan update manual via tombol di GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python main.py

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add index.html
          git commit -m "Update flight data" || exit 0
          git push
